:root {
    font-size: 16px;
    line-height: 14px;
}

.ChatApp,
.Bubble {
    max-width: 100vw;
}

.MessageContainer,
.Navbar,
.Message .Bubble,
.QuickReplies,
.ChatFooter {
    background-repeat: no-repeat;
    background-size: cover;
}
